extends layout

block content
	.contact-page
		form.contact-form(method='post' action='contact' onsubmit='return submitEnquiry(this);' autocomplete='on')
			input.action(type='hidden', name='action', value='contact')
			.field
				label(for='name') Nom
				input#name(type='text', name='name')
			.field.email
				label(for='email') Email
				input#email(type='email', name='email')
			.field
				label(for='subject') Sujet
				input#subject(type='text', name='subject')
			.field
				label(for='message') Message
				textarea#message(name='message')
			button(type='submit')
				span.button-text Envoyer
				span.loader
			.result-box
				if responses.success
					p.result-message.success Votre message a été envoyé, merci.
				if responses.invalidEmail
					p.result-message.error Erreur&nbsp;: Veuillez entrer une adresse email valide.
				if responses.invalidPhone
					p.result-message.error Erreur&nbsp;: Veuillez entrer un numéro de téléphone valide.
				if responses.missingFields
					p.result-message.error Erreur&nbsp;: Des champs requis n'ont pas été remplis
				if responses.invalidCharacters
					p.result-message.error Erreur&nbsp;: L’email contient des caractères invalides.
				if responses.failure
					p.result-message.failure Erreur&nbsp;: Votre message n’a pas pu être envoyé, veuillez réessayer plus tard.